*$py.class
*,cover
*.egg
*.egg-info/
*.iml
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.*.sw?
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.python-version
/.idea
/.medikit
/.pytest_cache
/.release
/bonobo/contrib/jupyter/js/node_modules/
/bonobo/examples/work_in_progress/
/build/
/coverage.xml
/dist/
/docs/_build/
/eggs/
/examples/private
/sdist/
/tags
pip-delete-this-directory.txt
pip-log.txt
