*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.python-version
.tox/
.webassets-cache
/.idea
/bonobo.iml
/bonobo/ext/jupyter/js/node_modules/
/build/
/coverage.xml
/develop-eggs/
/dist/
/doc/_build/
/downloads/
/eggs/
/htmlcov/
/sdist/
celerybeat-schedule
parts/
pip-delete-this-directory.txt
pip-log.txt
