-e .[sqlalchemy]
-r requirements.txt
appdirs==1.4.3
bonobo-sqlalchemy==0.6.0
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
fs==2.0.23
graphviz==0.8.3
idna==2.6
jinja2==2.10
markupsafe==1.0
mondrian==0.7.0
packaging==17.1
pbr==4.0.4
psutil==5.4.6
pyparsing==2.2.0
python-slugify==1.2.5
pytz==2018.4
requests==2.18.4
six==1.11.0
sqlalchemy==1.2.8
stevedore==1.28.0
typing==3.6.4
unidecode==1.0.22
urllib3==1.22
whistle==1.0.1
