-e .
appdirs==1.4.3
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
fs==2.0.12
idna==2.6
packaging==16.8
pbr==3.1.1
psutil==5.4.0
pyparsing==2.2.0
pytz==2017.2
requests==2.18.4
six==1.11.0
stevedore==1.27.1
urllib3==1.22
