-e .[jupyter]
-r requirements.txt
appnope==0.1.0
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
ipykernel==5.1.1
ipython-genutils==0.2.0
ipython==7.6.1
ipywidgets==6.0.1
jedi==0.14.1
jinja2==2.10.1
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter==1.0.0
markupsafe==1.1.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pygments==2.4.2
pyrsistent==0.15.3
python-dateutil==2.8.0
pyzmq==18.0.2
qtconsole==4.5.1
send2trash==1.5.0
six==1.12.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==2.0.1
