-e .[docker]
appdirs==1.4.3
bonobo-docker==0.2.6
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
docker-pycreds==0.2.1
docker==2.3.0
enum34==1.1.6
fs==2.0.3
idna==2.5
pbr==3.0.1
psutil==5.2.2
pytz==2017.2
requests==2.17.3
six==1.10.0
stevedore==1.23.0
urllib3==1.21.1
websocket-client==0.40.0
