-e .[dev]
-r requirements.txt
alabaster
arrow
atomicwrites
attrs
babel
binaryornot
certifi
chardet
click
cookiecutter
coverage
docutils
future
idna
imagesize
importlib-metadata
jinja2-time
jinja2
markupsafe
more-itertools
packaging
pathlib2
pluggy
poyo
py
pygments
pyparsing
pytest-cov
pytest-timeout
pytest
python-dateutil
pytz
requests
six
snowballstemmer
sphinx-sitemap
sphinx
sphinxcontrib-websupport
urllib3
wcwidth
whichcraft
zipp
